#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.data {
  text-align: left;
  max-width: 60em;
  margin: auto;
  overflow-x: auto;
  border: 1px solid grey;
}

.message {
  .lines {
    margin-bottom: 1em;
  }

  .line {
    margin: 0.2em;
  }

  details {
    margin: 1em;
  }
}
